<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos de la Persona</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Datos de la Persona</h1>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <form th:action="@{/guardar}" method="post" th:object="${persona}">
            <input type="hidden" name="idPersona" th:field="*{idPersona}"/>
            <br/>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>
            <br/>
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" th:field="*{apellido}"/>
            <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error Nombre</span>
            <br/>
            <label for="email">Email:</label>
            <input type="text" name="email" th:field="*{email}"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error Nombre</span> 
            <br/>
            <label for="celular">Celular:</label>
            <input type="cel" name="celular" th:field="*{celular}"/>
            <span th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}">Error Nombre</span>
            <br/>
            <label for="genero">Genero:</label>
            <input type="text" name="genero" th:field="*{genero}"/>
            <span th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}">Error Nombre</span>
            <br/>
            <label for="ocupacion">Ocupacion:</label>
            <input type="text" name="ocupacion" th:field="*{ocupacion}"/>
            <span th:if="${#fields.hasErrors('ocupacion')}" th:errors="*{ocupacion}">Error Nombre</span>
            <br/>
            <label for="edad">Edad:</label>
            <input type="number" name="edad" th:field="*{edad}"/>
            <span th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}">Error Nombre</span>
            <br/>
            <label for="nacionalidad">Nacionalidad:</label>
            <input type="text" name="nacionalidad" th:field="*{nacionalidad}"/>
            <span th:if="${#fields.hasErrors('nacionalidad')}" th:errors="*{nacionalidad}">Error Nombre</span>
            <br/>
            <input type="submit" name="guardar" value="Guardar">
        </form> 
    </body>
</html>
