<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Inicio</h1>
        <a th:href="@{/agregar}">Crear Persona</a>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th>Nombre:</th>
                    <th>Apellido:</th>
                    <th>Email:</th>
                    <th>Celular:</th>
                    <th>Género:</th>
                    <th>Ocupación:</th>
                    <th>Edad:</th>
                    <th>Nacionalidad:</th>
                    <th>Editar:</th>
                    <th>Eliminar:</th>
                </tr> 
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}">Mostrar Nombre</td>
                    <td th:text="${persona.apellido}">Mostrar Apellido</td>          
                    <td th:text="${persona.email}">Mostrar Email</td>            
                    <td th:text="${persona.celular}">Mostrar Celular</td>
                    <td th:text="${persona.genero}">Mostrar Género</td>   
                    <td th:text="${persona.ocupacion}">Mostrar Ocupación</td>   
                    <td th:text="${persona.edad}">Mostrar Edad</td>  
                    <td th:text="${persona.nacionalidad}">Mostrar Nacionalidad</td>
                    <td><a th:href="@{/editar/} + ${persona.idPersona}" th:text="Editar"/></td>
                    <td><a th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="Eliminar"/></td>
                </tr>
            </table> 
        </div>
        <div th:if="${personas == null or personas.empty}">
            <p>La lista de personas está vacía</p>
        </div>
    </body>
</html>
