<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Inicio</h1>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th>Nombre:</th>
                    <th>Apellido:</th>
                    <th>Email:</th>
                    <th>Celular:</th>
                    <th>Genero:</th>
                    <th>Ocupacion:</th>
                    <th>Nacionalidad:</th>
                </tr> 
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}">Mostrar Nombre</td>
                    <td th:text="${persona.apellido}">Mostrar Apellido</td>          
                    <td th:text="${persona.email}">Mostrar Email</td>            
                    <td th:text="${persona.celular}">Mostrar Celular</td>
                    <td th:text="${persona.genero}">Mostrar Genero</td>   
                    <td th:text="${persona.ocupacion}">Mostrar Ocupacion</td>   
                    <td th:text="${persona.nacionalidad}">Mostrar Nacionalidad</td>   
                </tr>
            </table> 
        </div>
        <div th:if="${personas == null or personas.empty}">
            <p>La lista de personas esta vacia</p>
        </div>
    </body>
</html>